body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.home-link {
    color: rgb(197, 197, 197);
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
}

.home-link:hover {
    color: #007bff;
    text-decoration: underline;
}

.content {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

h1 {
    color: white;
}

p {
    margin-bottom: 10px;
}
